body {
  background-color: #e7ede82f;
}

hr {
  border-style: dotted none none;
  width: 5%;
  border-width: 3px;
  border-color: grey;
}
h1 {
  color: #58b4ae;
}
h3 {
  color: #58b4ae;
}
h2 {
  color: #58b4ae;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
